body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
  }
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
  }
  h2 {
    text-align: center;
    color: #333;
    clear: left; /* Asegura que el título no se superponga con la imagen */
  }
  label {
    font-weight: bold;
  }
  select, input[type="text"], input[type="email"], input[type="date"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  textarea {
    height: 100px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }
  .hidden {
    display: none;
  }
  /* Estilos generales */
.hidden {
display: none;
}
table {
border-collapse: collapse;
width: 100%;
}
th, td {
border: 1px solid black;
padding: 8px;
text-align: left;
}
th {
background-color: #f2f2f2;
}

/* Estilos para inputs y textareas */
input, textarea {
width: 100%;
box-sizing: border-box;
padding: 5px;
}

/* Estilos para inputs tipo file */
input[type="file"] {
padding: 0;
}

.logo {
    width: 200px; /* Define el ancho deseado */
    height: auto;/* Esto mantiene la proporción de la imagen */
    /* float: left;
    margin-right: 20px;  */
}
